.jobs-center {
    width: 80vw;
    margin: 0 auto;
    max-width: var(--max-width);
}
.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}
// Tabs
.tabs {
    display: flex;
    flex-direction: column;
    line-height: 3;
    margin: 5px;
}
.tab {
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    letter-spacing: var(--spacing);
    transition: all 0.3s linear;
    cursor: pointer;
    outline-color: #e0fcff;
    outline-color: var(--clr-primary-10);
    margin: 10px;
    font-size: 2rem;
    font-weight: 600;

    &:hover {
        color: #2caeba;
        box-shadow: -2px 0 #2caeba;
    }
}
.active-btn {
    color: #2caeba;
    box-shadow: -2px 0 #2caeba;
}
.tab-content {
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
    padding: 1rem;
}
.title {
    margin-bottom: 0.75rem;
}
.company {
    background: #617d98;
    display: block;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    text-transform: uppercase;
    width: max-content;
    margin-bottom: 0.75rem;
}
.job-desc {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    align-items: start;
    margin-bottom: 1.25rem;
}
.job-desc p {
    margin-bottom: 0;
    color: var(--clr-grey-3);
}
.job-icon {
    color: #2caeba;
    margin-top: 5px;
}
.date {
    color: #617d98;
    font-family: system-ui;
    margin-bottom: 10px;
}
@media screen and (min-width: 992px) {
    .jobs-center {
        width: 90vw;
        display: grid;
        grid-template-columns: 200px 1fr;
        column-gap: 4rem;
    }
    .btn-container {
        flex-direction: column;
        justify-content: flex-start;
    }
    .job-btn {
        margin-bottom: 1rem;
    }
    .active-btn {
        box-shadow: -2px 0 var(--clr-primary-5);
    }
    .job-btn:hover {
        box-shadow: -2px 0 var(--clr-primary-5);
    }
}
