main {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50vh;
    margin: 5rem 0;
    max-width: var(--fixed-width);
    background: var(--color-link);
    border-radius: var(--radius);
    padding: 1.5rem 2rem;
    box-shadow: var(--dark-shadow);
    box-shadow: 0 0 5px 0 var(--color-light-blue);
}
.container h3 {
    font-weight: normal;
    text-transform: none;
    margin-bottom: 2rem;
}
.container button {
    color: var(--clr-white);
    display: block;
    width: 100%;
    border-color: transparent;
    background: var(--color-light-blue);
    margin: 2rem auto 0 auto;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 1.2rem 0;
    letter-spacing: var(--spacing);
    border-radius: var(--radius);
    outline: 1px solid rgba(242, 138, 178, 0.8);
    cursor: pointer;
}
