.container-grocery {
    width: 90vw;
    margin: 0 auto;
    max-width: 420px;
    padding: 10rem 0;
}
.container-grocery .div-title {
    margin: 4rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: ui-monospace;
}
.container-grocery .div-title .title {
    font-size: 5rem;
}
