@import 'normalize.css';
:root {
    --color-secondary: #bf1650;
    --color-light-pink: #ec5990;
    --color-primary: #0e101c;
    --color-blue: #1e2a4a;
    --color-button-blue: #191d3a;
    --color-light-blue: #516391;
    --color-link: #ff7aa8;
    --color-medium-blue: #4f6294;
    --color-black: #2d2d2d;
    --color-purple: #0f111b;
    --color-grey: #333;
    --color-light-grey: #ccc;
    --font-family: 'sourcecodepro', 'roboto', 'ProximaNova', serif, monospace,
        Georgia, Arial, Helvetica, Courier New, Lucida Sans Unicode;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
    --tux-colorSDSecondary: rgba(0, 0, 0, 0.5);
    --tux-colorBGPrimary: rgba(255, 255, 255, 1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.8rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    height: 100%;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-arrow {
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
        top: -8px;
    }
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
// Fonst emmbeded
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: roboto;
    src: url('/assets/fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2');
    font-weight: 400;
}
@font-face {
    font-family: roboto;
    src: url('/assets/fonts/KFOlCnqEu92Fr1MmWUlfBBc4.woff2');
    font-weight: 600;
}
@font-face {
    font-family: roboto;
    src: url('/assets/fonts/KFOmCnqEu92Fr1Mu4mxK.woff2');
    font-weight: 700;
}
@font-face {
    font-family: sourcecodepro;
    src: url('/assets/fonts/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DP6QtMlrTA.woff2');
    font-weight: 700;
}
