.container-slider {
    width: 90vw;
    margin: 0 auto;
    max-width: 800px;
    padding: 10rem 0;
}
.div-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title {
    text-transform: capitalize;
    margin-bottom: 0.75rem;
    color: #324d67;
    user-select: none;
}
.title span {
    font-size: 1em;
    color: #ba5d2c;
    margin-right: 1rem;
    font-weight: 700;
}
