table {
    text-align: center;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
    border: 2px solid;
    height: auto;
}
tbody {
    overflow-y: auto;
}
table td,
table th {
    border: 1px solid #fff;
    padding: 8px;
}
table tr:hover {
    background-color: #ddd;
    color: #000;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--color-blue);
    color: #fff;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

td p {
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
// button
.btn-edit {
    &:hover {
        border: 1px solid var(--color-light-pink);
    }
}

@media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before {
        content: 'ID';
    }
    td:nth-of-type(2):before {
        content: 'TITLE';
    }
    td:nth-of-type(3):before {
        content: 'DESCIPTION';
    }
    td:nth-of-type(4):before {
        content: 'CONTENT';
    }
    td:nth-of-type(5):before {
        content: 'CREATE_DATE';
    }
    td:nth-of-type(6):before {
        content: 'CREATOR';
    }
    td:nth-of-type(6):before {
        content: 'ACTION';
    }
}
