.div-form {
    display: flex;
    justify-content: center;
    width: 45%;
    min-width: 500px;
    background-color: #b4a2ed;
    border-radius: 10px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.div-input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

label.title {
    font-weight: 600;
    margin-bottom: 10px;
}

.input {
    width: 95%;
    height: 35px;
    padding-left: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    box-sizing: border-box !important;
    background-color: #fff !important;

    &:focus {
        border: 1px solid #741188;
    }
}

.input-calendar {
    max-height: 35px;
    display: flex;
    justify-content: center;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    -webkit-flex-direction: column !important;
}
.div-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
// css item component
.wrapper {
    display: flex;
    justify-content: center;
    width: 45%;
    min-width: 500px;
    background-color: #000;
    border-radius: 10px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}
.content-item {
    display: flex;
    justify-content: center;
    width: 45%;
    min-width: 500px;
    background-color: #000000cc;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}
.div-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000000cc;
    border-radius: 10px;
}
.item-left {
}
.item-right {
}
.detail {
}
