.wrapper {
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.facebook-logo {
    width: 30px;
    height: 30px;
}
.github-logo {
    color: #fff;
    background-color: var(--color-black);
}
