.main {
    background-color: #081229;
    color: #fff;
    width: 100%;
    min-height: 100vh;
}
.has-theme-color {
    background-color: var(--tux-colorBGPrimary);
    color: var(--color-black);
    width: 100%;
    min-height: 100vh;
}
