.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    background: var(--color-blue);
    font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    -webkit-font-smoothing: antialiased;
    font-kerning: normal;
    word-wrap: break-word;
    font-size: 1.5rem;
    padding: 13px 8px;
    min-width: 550px;
    box-shadow: 0 0 5px 0 #000;
    .nav-link.is-active {
        border-bottom: 1px solid var(--color-light-pink);
    }
}

.nav-link {
    &:hover {
        color: var(--color-light-pink);
    }
}
.wrapper-has-color {
    background: var(--color-primary) !important;
    box-shadow: none;
}
.wrapper-has-color {
    .nav-link.is-active {
        border-bottom: 2px solid #fff !important;
    }
}
