.content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--color-light-grey);
    font-size: 1.8rem;
}
.btn-add {
    width: max-content;
    min-width: 100px;
    padding: 10px 20px;
    margin-bottom: 5px;
    &:hover {
        border: 1px solid var(--color-light-pink);
    }
}
.header-icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #333;
    border-radius: 50%;
    font-size: 35px;

    &:hover {
        font-size: 40px;
        cursor: pointer;
    }
}
.count-item {
    position: absolute;
    display: flex;
    color: var(--color-light-pink);
    font-size: 20px;
    justify-content: center;
    align-items: center;
    width: 40px;
    margin-top: 5px;
}
