.container-lorem {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    max-width: var(--max-width);
    padding: 10rem 0;
}
.container-lorem .div-title {
    margin: 4rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: ui-monospace;
}
.container-lorem .div-title .title {
    font-size: 5rem;
}
