.wrapper {
    width: 100%;
    padding: 5rem;
    background: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login {
    width: 70vh;
    min-height: 10vh;
    padding: 5rem;
    background: white;
    box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
    border-radius: 10px;
    display: flex;
}
.control {
    margin: 1rem 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
}

.control label,
.control input {
    display: block;
}

.control label {
    font-weight: bold;
    flex: 1;
    color: #464646;
    margin-bottom: 0.5rem;
    min-width: 100px;
}

.control input {
    flex: 3;
    font: inherit;
    padding: 0.35rem 0.35rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 400px;
}

.control input:focus {
    outline: none;
    border-color: #4f005f;
    background: #f6dbfc;
}

.invalid input {
    margin: 1rem 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    border-color: red;
    background: #fbdada;
}

.actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #9f5ccc;
    border: 1px solid #9f5ccc;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
}

.actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: #9f5ccc;
    border: none;
    padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
    background-color: transparent;
    color: #ae82cc;
}

.div-error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}
@media (min-width: 768px) {
    .control {
        align-items: center;
        flex-direction: row;
    }
}
