.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    font-size: 2rem;
    background: #081229;
    height: 60px;
    border-bottom: 3px solid #081229;
    z-index: 10000;
}
.has-border-bottom {
    background-color: var(--color-primary) !important;
    border-bottom: 3px solid var(--color-light-pink);
}
.main-header-link {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
    color: #fff;
    height: 100%;
}
.main-header-action {
    max-width: 200px;
    width: 200px;
    display: flex;
    justify-content: flex-start;
}
.main-header-share {
    max-width: 200px;
    width: 200px;
    display: flex;
    justify-content: flex-end;
}
.btn-logout {
    &:hover {
        border: 1px solid var(--color-light-pink);
    }
}
